name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: pypi
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    - name: Inspect package
      run: |
        echo "--- Contents of dist/ ---"
        ls -R dist
        echo "--- METADATA from .whl file ---"
        WHEEL_FILE=$(ls dist/*.whl)
        unzip -p $WHEEL_FILE */METADATA
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
